.jobBoard {
    padding: 20px;
    justify-content: right;
}

.jobCardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.jobCardsContainer > div {
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .jobCardsContainer > div {
        flex: 1 1 100%;
    }
}

.jobBoard {
    padding: 2rem;
}

.filterContainer {
    margin-bottom: 1.5rem;
}

.filterLabel {
    margin-right: 0.5rem;
    font-weight: 500;
}

.select {
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    align-items: start; 
}

.section{
    padding: 0 !important;
}