p {
    color: #5C5E5F;
}

.cardText {
    white-space: pre-line;
    transition: all 0.3s ease-in-out;
    color: #5C5E5F;
}

.cardTitle {
    color: #CE6C39;
    font-weight: bold;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}

.card {
    border: 1px solid #5A9E8C;
    overflow: hidden;
    border-radius: 24px;
    max-width: 25rem;
    min-height: 5rem;
    height: auto;
    padding: 16px;
    transition: all 0.3s ease-in-out;
    margin-top: 16px;
}

.cardBody {
    margin: 0;
}

.cardContent {
    display: flex;
    flex-direction: column;
}

.detailscontainer {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.detailscontainer.expanded {
    max-height: 1000px;
    opacity: 1;
}

.cardDescription {
    transition: all 0.3s ease-in-out;
    color: #5C5E5F;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.cardDescription.clamped .cardText {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardDescription.expanded .cardText {
    display: block;
    -webkit-line-clamp: unset;
    overflow: visible;
    text-overflow: unset;
}

.card-content {
    padding: 10px;
}

.card-description-button {
    cursor: pointer;
    color: #5A9E8C;
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 14px;
}

.containerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 16px;
}

.containerBtn button {
    width: 11rem;
    flex-shrink: 0;
}

.containerBtn .btnPrimary,
.containerBtn .btnSecundary {
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border-radius: 2.3125rem;
    border: 1px solid #5A9E8C;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    width: 12rem;
    height: 3.375rem;
}

.btnPrimary {
    background-color: #5A9E8C;
    color: white;
}

.btnSecundary {
    background-color: white;
    color: #5A9E8C;
}

.btn:hover {
    cursor: pointer;
    filter: brightness(0.85);
    transition: all 0.3s ease-in-out;
}

button .material-icons {
    vertical-align: middle;
    font-size: 30px;
    margin-left: 10px;
}

.itemLi {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    color: #5C5E5F;
}

.iconLi {
    width: 1.5rem;
    height: 1.5rem;
    color: #5A9E8C;
}

.iconButton {
    width: 1rem;
    height: 1rem;
}

.icon {
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.icon.visible {
    opacity: 0;
}

.detailsList {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .cardDescription {
        display: none;
    }

    .mobileShowWhenExpanded {
        display: block;
    }
}
