.page {
    margin: 0;
    padding: 0;
    color: var(--text);
    line-height: 1.7;
}

.contentPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background: var(--bg);
    width: 100%;
}

.topSection {
    width: 100%;
    background: var(--accent);
}

/* mobile-first*/
.layout {
    width: 100%;
    max-width: var(--container-max);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    align-items: start;
    box-sizing: border-box;
    padding: 32px 24px;
}

.lead {
    display: grid;
    gap: 14px;
    align-content: start;
}

.text {
    margin: 0;
    text-align: justify;
    font-size: 14px;
    line-height: 1.7;
}

.ctaWrap {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroImage {
    aspect-ratio: 1 / 1;
    border-radius: 16px;
    box-shadow: 0 8px 22px rgba(0, 0, 0, .08);
    background-color: var(--color-maieutica-vermelho);
    max-height: 500px;
    width: 100%;
    overflow: hidden;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
}

.mission {
    display: grid;
    gap: 10px;
}

.ourMissionTitle {
    color: var(--color-maieutica-vermelho);
    font-size: 24px;
    line-height: 1.2;
    margin: 0;
}

.ourMissionText {
    margin: 0;
    font-size: 14px;
    line-height: 1.7;
    text-align: justify;
}

.button {
    color: var(--color-maieutica-vermelho);
}

.footer {
    width: 100%;
}



/* ===== DESKTOP ===== */
@media (min-width: 1024px) {
    .layout {
        grid-template-columns: minmax(0, 1fr) minmax(420px, 45%);
        column-gap: 40px;
        align-items: stretch;
        padding: 40px 40px;
    }

    .lead {
        grid-column: 1;
        grid-row: 1;
    }

    .mission {
        grid-column: 1;
        grid-row: 2;
        margin-top: 6px;
    }

    .heroImage {
        height: 100%;
        min-height: 100%;
        width: 100%;
        max-width: 100%;
        grid-column: 2;
        grid-row: 1 / span 2;
        align-self: stretch;
        justify-self: stretch;
        border-radius: 24px;
        box-shadow: 0 10px 28px rgba(0, 0, 0, .1);
    }


    .image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: inherit;
    }

    .text {
        font-size: 15px;
        text-align: left;
        max-width: 640px;
    }

    .ourMissionTitle {
        font-size: 32px;
    }

    .ourMissionText {
        font-size: 15px;
        text-align: left;
    }
}